<div class="container_big-card">
    <div class="big-card_photo">
        <img src="https://www.sibgoiania.org/midia/2021/02/2021-02-21_121_Salmo84-A-casa-do-coracao.jpg" 
        alt=""
        height="250px">
    </div>

    <div class="big-card_title">
        <h1><a href="#">Salmos 84.1-4</a></h1>
    </div>

    <div class="big-card_description">
        <a>
            <p>
                Quão amáveis são os teus tabernáculos, Senhor dos Exércitos! A minha alma suspira e desfalece pelos átrios do Senhor; o meu 
                coração e a minha carne exultam pelo Deus vivo! O pardal encontrou casa, e a andorinha, ninho para si, onde acolha os seus 
                filhotes; eu, os teus altares, Senhor dos Exércitos, Rei meu e Deus meu! Bem-aventurados os que habitam em tua casa; louvam-te 
                perpetuamente. 
            </p>
        </a>
    </div>
</div>