

<app-menu-title></app-menu-title>

<div class="container_articles">
    <div class="articles_main">
        <app-big-card
        Id="1.1"
        photoCover="https://www.sibgoiania.org/midia/2021/02/2021-02-21_121_Salmo84-A-casa-do-coracao.jpg"
        cardTitle="Habitando na Casa de Deus: Salmos 84.1-4"
        cardDescription="Quão amáveis são os teus tabernáculos, Senhor dos Exércitos! A minha alma suspira e desfalece pelos átrios do Senhor; o meu coração e a minha carne exultam pelo Deus vivo! O pardal encontrou casa, e a andorinha, ninho para si, onde acolha os seus filhotes; eu, os teus altares, Senhor dos Exércitos, Rei meu e Deus meu! Bem-aventurados os que habitam em tua casa; louvam-te perpetuamente."
        >
        </app-big-card>

        <app-big-card 
        Id="1.2"
        photoCover="https://i.pinimg.com/564x/a7/8f/9e/a78f9edfa292c4375baff8f5a3d0d81f.jpg"
        cardTitle="O Pai, o Pastor: Salmos 23.1"
        cardDescription="O Senhor é o meu pastor; nada me faltará. Ele me faz repousar em pastos verdejantes. Leva-me para junto das águas de descanso; refrigera-me a alma. Guia-me pelas veredas da justiça por amor do seu nome. Ainda que eu ande pelo vale da sombra da morte, não temerei mal nenhum, porque tu estás comigo; o teu bordão e o teu cajado me consolam."
        >
        </app-big-card>
    </div>

    <div class="articles_others">
        <app-small-card
        Id="2.1"
        cardTitle="Luciano Subirá lança livro sobre cuidados com o corpo após década meditando em Deus sobre o assunto."
        photoCover="https://p2.trrsf.com/image/fget/cf/940/0/images.terra.com/2022/11/20/292998551-exercicio-fisico-1.jpg"
        >
        </app-small-card>
       
        <app-small-card
        Id="2.2"
        cardTitle="Combo na livraria 'Center': Livros imperdíveis pra 2024."
        photoCover="https://http2.mlstatic.com/D_NQ_NP_797583-MLB69498427886_052023-O.webp"
        >
        </app-small-card>

        <app-small-card
        Id="2.3"
        cardTitle="Invista na sua espiritualidade cristã com os melhores livros e cursos."
        photoCover="https://img2.migalhas.com.br/_MEDPROC_/https__img.migalhas.com.br__SL__gf_base__SL__empresas__SL__MIGA__SL__imagens__SL__2023__SL__10__SL__09__SL__6f14c48b-efa0-49c8-a69d-6e86a40a518a.png._PROC_CP65.png"
        >
        </app-small-card>
    </div>
</div>
